{% extends "base.html" %}
{% set page.title = "Index" %}
{% set page.nav = "Index" %}

{% block content %}
<div class="pure-g pure-type">
	<div class="pure-u-1 pure-u-md-1">
		 <h2>Ensino médio</h2>
	</div>
</div>
<div  class="pure-g pure-type">
    <div class="pure-u-1 pure-u-md-1-3"> 
        <div class="pure-menu ">
            <span class="pure-menu-heading">1º ano</span>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="{{site.urlRoot}}posts/equacao-primeiro-grau.html" class="pure-menu-link">Equação do 1º Grau</a></li>
                <li class="pure-menu-item"><a href="{{site.urlRoot}}posts/equacao-segundo-grau.html" class="pure-menu-link">Equação do 2º Grau</a></li>
               <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled">Conteúdo em construção</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled">Conteúdo em construção</a></li>
            </ul>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3"> 
        <div class="pure-menu ">
            <span class="pure-menu-heading">2º ano</span>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="{{site.urlRoot}}posts/matriz.html" class="pure-menu-link">Matriz</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled">Conteúdo em construção</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled">Conteúdo em construção</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled">Conteúdo em construção</a></li>
            </ul>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3"> 
        <div class="pure-menu ">
            <span class="pure-menu-heading">3º ano</span>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled">Conteúdo em construção</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled">Conteúdo em construção</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled">Conteúdo em construção</a></li>
               <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled">Conteúdo em construção</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="pure-g pure-type">
	<div class="pure-u-1 pure-u-md-1">
		<blockquote>
            Matemática Livre é um projeto open source com o objetivo de disponibilizar conteúdo de matemática de forma simples e funcional.
            Visite a página do <a href="https://github.com/fabricioct/matematica" >projeto</a> .
		</blockquote>
	</div>
</div>
<div class="pure-g pure-type">
	<div class="pure-u-1 pure-u-md-1">
		<h2>Ensino fundamental</h2>
	</div>
</div>
<div  class="pure-g pure-type">
<div class="pure-u-1 pure-u-md-1-3"> 
    <div class="pure-menu ">
        <span class="pure-menu-heading">4º ano - Pré</span>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled">Conteúdo em construção</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled">Conteúdo em construção</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled">Conteúdo em construção</a></li>
        </ul>
    </div>
</div>
<div class="pure-u-1 pure-u-md-1-3"> 
    <div class="pure-menu ">
        <span class="pure-menu-heading">5º ano</span>
        <ul class="pure-menu-list">
           <li class="pure-menu-item"><a href="{{site.urlRoot}}posts/mdc.html" class="pure-menu-link">MDC máximo divisor comum</a></li>
            <li class="pure-menu-item"><a href="{{site.urlRoot}}posts/mmc.html" class="pure-menu-link">MDC mínimo múltiplo comum</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled">Conteúdo em construção</a></li>
        </ul>
    </div>
</div>
<div class="pure-u-1 pure-u-md-1-3"> 
    <div class="pure-menu ">
        <span class="pure-menu-heading">6º ano</span>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled">Conteúdo em construção</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled">Conteúdo em construção</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled">Conteúdo em construção</a></li>
        </ul>
    </div>
</div>
</div>
<div  class="pure-g pure-type">
    <div class="pure-u-1 pure-u-md-1-3"> 
        <div class="pure-menu">
            <span class="pure-menu-heading">7º ano</span>
            <ul class="pure-menu-list">
               <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled">Conteúdo em construção</a></li>
               <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled">Conteúdo em construção</a></li>
               <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled">Conteúdo em construção</a></li>
            </ul>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3"> 
        <div class="pure-menu">
            <span class="pure-menu-heading">8º ano</span>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled">Conteúdo em construção</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled">Conteúdo em construção</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled">Conteúdo em construção</a></li>
             </ul>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3"> 
        <div class="pure-menu ">
            <span class="pure-menu-heading">9º ano</span>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled">Conteúdo em construção</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled">Conteúdo em construção</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-menu-disabled">Conteúdo em construção</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="pure-g pure-type">
	<div class="pure-u-1 pure-u-md-1">
		<blockquote>
           Dica! No seu smartphone vá em configurações e clique em adicinoar à tela principal. Você poderá utilizar Matemática Livre como um app sem a necessidade de instalar.
		</blockquote>
	</div>
</div>

{% endblock %}
